<footer>
    <div class="row">
        <div class="large-6 columns">
        </div>
        <div class="large-6 columns">
            <ul class="inline-list social-media right">
                <li>
                    <a href="https://www.facebook.com/freegeekmothership" class="icon icon-facebook"></a>
                </li>
                <li>
                    <a href="https://twitter.com/freegeekpdx" class="icon icon-twitter"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ site.url }}/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/vendor/custom.modernizr.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/foundation.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/functions.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/custom.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/vendor/custom.modernizr.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/jquery.localscroll-1.2.7.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/jquery.scrollTo-1.4.3.1.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/my/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/my/main.js"></script>



