<div id="top" data-magellan-expedition="fixed">
    <div class="row">
        <div class="large-12 columns">
            <nav class="top-bar">
                <ul class="title-area">
                    <li class="name logo">
                        <a href="{{ site.url }}/#"><img src="{{ site.url }}/img/fglogo.png" alt=""></a>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="{{ site.url }}/#"><span>Menu</span></a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="right" id="menu">
                        {% for i in site.data.menu-bar %}
                            <!-- Donate Button -->
                            {% if i.id == "donate" %}
                                <li><a class="button radius" href="{{ site.url }}{{ i.suburl }}">{{ i.title }}</a></li>
                            {% else %}
                                <li class="has-dropdown">
                                    <div data-magellan-arrival={{ i.id }}>
                                        <a>{{ i.title }}</a>
                                    </div>
                                    <ul class="dropdown mystyle">
                                        <li> <a href="{{ site.url }}/#{{ i.id }}"> {{ i.title }} </a></li>
                                        {% for dd in i.dropdown %}
                                            <!-- Extneral Links -->
                                            {% if i.id == "shop" %} 
                                                <li><a href="{{ dd.suburl }}">{{ dd.name }}</a></li>
                                            {% else %}
                                                <li><a href="{{ site.url }}{{ dd.suburl }}">{{ dd.name }}</a></li>
                                            {% endif %} 
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            </nav>
        </div>
    </div>
</div>
