<div id="top" data-magellan-expedition="fixed">
  <div class="row">
    <div class="large-12 columns">
      <nav class="top-bar">
        <ul class="title-area">
         <li class="name logo">
            <a href="#"><img src="{{ site.url }}/img/fglogo.png"  alt=""></a>
          </li>
          <li class="toggle-topbar menu-icon"><a href="{{ site.url }}/#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right" id="menu">
            <li data-magellan-arrival="news"><a href="{{ site.url }}/#news">News</a></li>
            <li data-magellan-arrival="give"><a href="{{ site.url }}/#give">Give</a></li>
            <li data-magellan-arrival="get"><a href="{{ site.url }}/#get">Get</a></li>
            <li data-magellan-arrival="shop"><a href="{{ site.url }}/#shop">Shop</a></li>
            <li data-magellan-arrival="volunteer"><a href="{{ site.url }}/#volunteer">Volunteer</a></li>
            <li data-magellan-arrival="learn"><a href="{{ site.url }}/#learn">Learn</a></li>
            <li data-magellan-arrival="connect"><a href="{{ site.url }}/#connect">Contact</a></li>
            <li><a class="button radius" href="{{ site.url }}/donate/">Donate!</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>