<script id="sidebar-doc-template" type="text/x-handlebars-template">
    {{#contents}}
    <li data-magellan-arrival="{{name}}"><a href="#{{name}}">{{name}} Arrival</a></li>
    {{/contents}}
</script>
